<footer class="h-14 flex justify-between items-center border-t-2 border-black">
    <h1 class="pl-4">&copy; MangaHub</h1>
    <ul class="flex gap-3 pr-4">
        <li><a href="#"><i class="text-3xl fa-brands fa-linkedin"></i></a></li>
        <li><a href="#"><i class="text-3xl fa-brands fa-square-instagram"></i></a></li>
        <li><a href="#"><i class="text-3xl fa-brands fa-square-x-twitter"></i></a></li>
    </ul>
</footer>
</body>
</html>