<%- include ('./partials/header.ejs') %>
<main class="flex-1 w-full flex items-center justify-center">
    <h1 class="w-4/5 text-center font-bold text-3xl text-secondary"><%= err.status %> - <%= err.message %></h1>
</main>
<%- include ('./partials/footer.ejs') %>